[submodule "myroofs"]
	path = myroofs
	url = git://github.com/minetest-mods/myroofs.git
[submodule "mywoodslopes"]
	path = mywoodslopes
	url = git://github.com/minetest-mods/mywoodslopes.git
[submodule "worldedge"]
	path = worldedge
	url = git://github.com/minetest-mods/worldedge.git
