[submodule "myroofs"]
	path = myroofs
	url = git://github.com/minetest-mods/myroofs.git
[submodule "mywoodslopes"]
	path = mywoodslopes
	url = git://github.com/minetest-mods/mywoodslopes.git
[submodule "worldedge"]
	path = worldedge
	url = git://github.com/minetest-mods/worldedge.git
[submodule "mylights"]
	path = mylights
	url = git://github.com/minetest-mods/mylights.git
[submodule "myfences"]
	path = myfences
	url = git://github.com/DonBatman/myfences.git
[submodule "mysheetmetal"]
	path = mysheetmetal
	url = git://github.com/minetest-mods/mysheetmetal.git
[submodule "mydoors"]
	path = mydoors
	url = git://github.com/minetest-mods/mydoors.git
[submodule "mypaint"]
	path = mypaint
	url = git://github.com/DonBatman/mypaint.git
[submodule "mydeck"]
	path = mydeck
	url = git://github.com/minetest-mods/mydeck.git
[submodule "mypaths"]
	path = mypaths
	url = git://github.com/minetest-mods/mypaths.git
[submodule "mysiding"]
	path = mysiding
	url = git://github.com/DonBatman/mysiding.git
